üìÇ Í≤∞Í≥º ÌååÏùº (ÏûêÎèô ÏÉùÏÑ±Îê®)  

	01. data/secom_master_eda.csv : sensor_001 ~ sensor_590, timestamp, label  

	02. data/secom_model_train.csv : sensor_001 ~ sensor_590, label (timestamp Ï†úÍ±∞)

# SECOM Îç∞Ïù¥ÌÑ∞ÏÖã Ìï©ÏπòÍ∏∞ (EDAÏö© & Î™®Îç∏ÎßÅÏö©)

Ïù¥ ÎÖ∏Ìä∏Î∂ÅÏùÄ **SECOM ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞**(`secom.data`, `secom_labels.data`)Î•º Î∂àÎü¨ÏôÄ  
EDA Î∂ÑÏÑùÏö©Í≥º Î™®Îç∏ ÌïôÏäµÏö© Îëê Í∞ÄÏßÄ CSVÎ°ú Ï†ÄÏû•ÌïòÎäî Ïó≠Ìï†ÏùÑ ÌïúÎã§.

- **EDAÏö© (secom_master_eda.csv)**  
  - ÏÑºÏÑú ÌîºÏ≤ò(`sensor_001` ~ `sensor_590`) + `timestamp` + `label`  
  - ÏãúÍ∞Ñ Ìå®ÌÑ¥ / Í≤∞Ï∏° Ìå®ÌÑ¥ Î∂ÑÏÑùÏóê ÌôúÏö©  

- **Î™®Îç∏ÎßÅÏö© (secom_model_train.csv)**  
  - ÏÑºÏÑú ÌîºÏ≤ò(`sensor_001` ~ `sensor_590`) + `label`  
  - `timestamp` Ï†úÍ±∞ (Îç∞Ïù¥ÌÑ∞ ÎàÑÏàò Î∞©ÏßÄ)  
  - Ï†ÑÏ≤òÎ¶¨ Îã®Í≥ÑÏóêÏÑú ÎùºÎ≤®ÏùÑ 0/1Î°ú Î≥ÄÌôòÌïòÏó¨ Î™®Îç∏ ÌïôÏäµÏóê ÌôúÏö©

### Í≤ΩÎ°ú ÏÑ§Ï†ï

In [1]:
from pathlib import Path

PROJECT_ROOT = Path.cwd().parent if (Path.cwd().name == "notebooks") else Path.cwd()
RAW_DIR = PROJECT_ROOT / "data" / "raw" / "secom"
OUT_DIR = PROJECT_ROOT / "data"
OUT_DIR.mkdir(parents=True, exist_ok=True)

print("RAW_DIR :", RAW_DIR)
print("OUT_DIR:", OUT_DIR)

RAW_DIR : /Users/mealkuo/Desktop/capstone02_project/data/raw/secom
OUT_DIR: /Users/mealkuo/Desktop/capstone02_project/data

### ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ ÎØ∏Î¶¨ Î≥¥Í∏∞

In [2]:
import pandas as pd

# ÏÑºÏÑú ÌîºÏ≤ò (X)
X_raw = pd.read_csv(RAW_DIR / "secom.data", sep=r"\s+", header=None, engine="python")
print("X_raw shape:", X_raw.shape)
display(X_raw.head(3))

# ÎùºÎ≤® + ÌÉÄÏûÑÏä§ÌÉ¨ÌîÑ (y)
y_raw = pd.read_csv(RAW_DIR / "secom_labels.data", sep=r"\s+", header=None, engine="python")
print("y_raw shape:", y_raw.shape)
display(y_raw.head(3))

X_raw shape: (1567, 590)

,0,1,2,3,4,5,6,7,8,9,...,580,581,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602

y_raw shape: (1567, 3)

   0            1          2
0 -1  "19/07/2008  11:55:00"
1 -1  "19/07/2008  12:32:00"
2  1  "19/07/2008  13:17:00"

### Îç∞Ïù¥ÌÑ∞ÏÖã Ìï©ÏπòÍ∏∞

In [3]:
from datetime import datetime

def _parse_timestamp(ts: str):
    if pd.isna(ts): return pd.NaT
    ts = str(ts).replace('"','').strip()
    for fmt in ("%d/%m/%Y %H:%M:%S", "%Y-%m-%d %H:%M:%S", "%Y/%m/%d %H:%M:%S"):
        try: return datetime.strptime(ts, fmt)
        except Exception: continue
    return pd.NaT

def build_secom_master(X_raw, y_raw, out_dir: Path):
    # 1) ÏÑºÏÑú ÌîºÏ≤ò Ïù¥Î¶Ñ Î∂ôÏù¥Í∏∞
    X = X_raw.copy()
    X.columns = [f"sensor_{i:03d}" for i in range(1, X.shape[1]+1)]

    # 2) ÎùºÎ≤®/ÌÉÄÏûÑÏä§ÌÉ¨ÌîÑ Ï†ïÎ¶¨
    if y_raw.shape[1] == 3:
        y = pd.DataFrame({
            "label": y_raw.iloc[:,0],
            "timestamp": (y_raw.iloc[:,1].astype(str)+" "+y_raw.iloc[:,2].astype(str))
        })
    elif y_raw.shape[1] == 2:
        y = y_raw.copy()
        y.columns = ["label","timestamp"]
    else:
        raise ValueError(f"Unexpected labels shape: {y_raw.shape}")

    y["timestamp"] = y["timestamp"].map(_parse_timestamp)

    # 3) Ìï©ÏπòÍ∏∞
    eda_df = pd.concat([X, y[["timestamp","label"]]], axis=1)

    # 4) Ï†ÄÏû•
    eda_path   = out_dir / "secom_master_eda.csv"   # EDAÏö© dataset
    model_path = out_dir / "secom_model_train.csv"  # TrainÏö© dataset; model train Îì§Ïñ¥Í∞ÄÍ∏∞ Ï†ÑÏùò ÏõêÎ≥∏ ÌÅ¥Î¶∞ Î≤ÑÏ†Ñ
    eda_df.to_csv(eda_path, index=False)
    eda_df.drop(columns=["timestamp"]).to_csv(model_path, index=False)

    return eda_df, eda_path, model_path

### Ïã§Ìñâ Î∞è Í≤∞Í≥º Ï†ÄÏû•

In [4]:
eda_df, eda_path, model_path = build_secom_master(X_raw, y_raw, OUT_DIR)

print("[OK] Wrote:", eda_path)
print("[OK] Wrote:", model_path)
print("EDA shape :", eda_df.shape, "| MODEL shape :", (eda_df.shape[0], eda_df.shape[1]-1))
print("Label counts:", eda_df['label'].value_counts().to_dict())

[OK] Wrote: /Users/mealkuo/Desktop/capstone02_project/data/secom_master_eda.csv
[OK] Wrote: /Users/mealkuo/Desktop/capstone02_project/data/secom_model_train.csv
EDA shape : (1567, 592) | MODEL shape : (1567, 591)
Label counts: {-1: 1463, 1: 104}

### ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

In [5]:
eda_df.head(3)

,sensor_001,sensor_002,sensor_003,sensor_004,sensor_005,sensor_006,sensor_007,sensor_008,sensor_009,sensor_010,...,sensor_583,sensor_584,sensor_585,sensor_586,sensor_587,sensor_588,sensor_589,sensor_590,timestamp,label
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,2008-07-19 11:55:00,-1
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,2008-07-19 12:32:00,-1
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,2008-07-19 13:17:00,1

### ÎùºÎ≤® Î∂ÑÌè¨ Î∞è Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏

In [6]:
# ÎùºÎ≤® Î∂ÑÌè¨ ÌôïÏù∏
print("üîé Label distribution:")
print(eda_df['label'].value_counts())

# Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏
nan_counts = eda_df.isna().sum()
nan_ratio = eda_df.isna().mean()

print("\nüîé NaN overview:")
print(f"Ï¥ù Í≤∞Ï∏°Ïπò Í∞úÏàò: {int(nan_counts.sum())}")
print(f"ÏÑºÏÑúÎ≥Ñ ÌèâÍ∑† Í≤∞Ï∏° ÎπÑÏú®: {nan_ratio.mean():.4f}")

# ÏÑºÏÑúÎ≥Ñ Í≤∞Ï∏°Ïπò ÏÉÅÏúÑ 10Í∞ú
print("\nüîé NaN ratio (Top 10 sensors):")
print(nan_ratio.sort_values(ascending=False).head(10))

üîé Label distribution:
label
-1    1463
 1     104
Name: count, dtype: int64

üîé NaN overview:
Ï¥ù Í≤∞Ï∏°Ïπò Í∞úÏàò: 41951
ÏÑºÏÑúÎ≥Ñ ÌèâÍ∑† Í≤∞Ï∏° ÎπÑÏú®: 0.0452

üîé NaN ratio (Top 10 sensors):
sensor_158    0.911934
sensor_293    0.911934
sensor_294    0.911934
sensor_159    0.911934
sensor_493    0.855775
sensor_359    0.855775
sensor_086    0.855775
sensor_221    0.855775
sensor_247    0.649649
sensor_110    0.649649
dtype: float64